---
layout: default
---

<div class="home">

  <div class="container-fluid">
    <div class="menu-col">
      {% include sidenav.html %}
    </div>
    <div class="device-col">
      <div class="device">
        <div class="window">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="docs-col">
      <h1 class="page-heading">组件库</h1>

      {% include _components/buttons.html %}
      {% include _components/cell.html %}
    </div>

  </div>

</div>
