
<footer>
  <div class="footer-inner">
    <div class="codingnet-icon">
      <img src="/images/codingnet.png" />
    </div>
    <ul class="links">
      <li><a href="http://old.jqweui.com" target="_blank">v0.8.3 文档</a></li>
      <li><a href="https://weui.io/#/" target="_blank">WeUI</a></li>
      <li><a href="http://light7.org" target="_blank">Light7</a></li>
      <li><a href="http://idangero.us/framework7/" target="_blank">Framework7</a></li>
    </ul>
    <p>
    jQuery WeUI @author 言川 @time 2016/01/11
    </p>
  </div>
</footer>

<script src="{{ "/dist/lib/jquery-2.1.4.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/bootstrap/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/docs.js" | prepend: site.baseurl }}"></script>

<script>
  $('.pop').click(function () {
    ga('send', 'event', 'Pop', 'click')
  })
</script>
