
<footer>
  <div class="footer-inner">
    <ul class="links">
      <li><a href="http://old.jqweui.com" target="_blank">v0.8.3 文档</a></li>
      <li><a href="https://weui.io/#/" target="_blank">WeUI</a></li>
      <li><a href="http://light7.org" target="_blank">Light7</a></li>
      <li><a href="http://idangero.us/framework7/" target="_blank">Framework7</a></li>
    </ul>
    <p>
    jQuery WeUI @author 言川 @time 2016/01/11
    </p>
    <div class="cn-only">
      <p>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202001503">
          <img src="/images/beian.png" style="float:left;">
          <span style="float:left;">沪公网安备 31011202001503号</span>
        </a>
        <a href="http://www.miitbeian.gov.cn/">浙ICP备16003227号</a>
      </p>
      <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
    </div>
  </div>
</footer>

<script src="{{ "/dist/lib/jquery-2.1.4.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/bootstrap/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/docs.js" | prepend: site.baseurl }}"></script>

<script>
  $('.pop').click(function () {
    ga('send', 'event', 'Pop', 'click')
  })
</script>

<script>
  if (/jqweui\.cn/.test(location.host)) {
    $(document.body).addClass('cn')
  } else {
    $(document.body).addClass('en')
  }
</script>
