
<footer>
  <ul class="links">
    <li>友情链接:</li>
    <li><a href="https://weui.io/#/" target="_blank">WeUI</a></li>
    <li><a href="http://light7.org" target="_blank">Light7</a></li>
    <li><a href="http://idangero.us/framework7/" target="_blank">Framework7</a></li>
  </ul>
  <p>
  jQuery WeUI @author 言川 @time 2016/01/11
  </p>
</footer>

<script src="{{ "/dist/lib/jquery-2.1.4.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/bootstrap/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/docs.js" | prepend: site.baseurl }}"></script>
