<nav class="navbar header navbar-default navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/logo/logo-icon-small.png" | prepend: site.baseurl }}" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='link-index'><a href="{{ "/" | prepend: site.baseurl }}">首页 <span class="sr-only">(current)</span></a></li>
        <li class='link-components'><a href="{{ "/components" | prepend: site.baseurl }}">基础组件</a></li>
        <li class='link-extends'><a href="{{ "/extends" | prepend: site.baseurl }}">拓展组件</a></li>
        <li class='link-demos'><a href="{{ "/dist/demos/" | prepend: site.baseurl }}">示例</a></li>
        <li class=''><a href="https://github.com/lihongxun945/jquery-weui/blob/master/changelog.md">更新日志</a></li>
        <li class='link-about'><a href="{{ "/about" | prepend: site.baseurl }}">关于</a></li>
        <li><a href="https://github.com/lihongxun945/jquery-weui">Github</a></li>
      </ul>
    </div>
  </div>
</nav>
