<nav class="navbar header navbar-default navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/logo/logo-icon-small.png" | prepend: site.baseurl }}" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='link-index'><a href="{{ "/" | prepend: site.baseurl }}">首页 <span class="sr-only">(current)</span></a></li>
        <li class='link-components'><a href="{{ "/components" | prepend: site.baseurl }}">基础组件</a></li>
        <li class='link-extends'><a href="{{ "/extends" | prepend: site.baseurl }}">拓展组件</a></li>
        <li class='link-cases'><a href="{{ "/cases" | prepend: site.baseurl }}">案例</a></li>
        <li class='link-download'><a href="{{ "/download" | prepend: site.baseurl }}">下载</a></li>
        <li class='link-donate'><a href="{{ "/donate" | prepend: site.baseurl }}">捐助</a></li>
        <li class=''><a href="https://github.com/lihongxun945/jquery-weui/blob/master/changelog.md">更新日志</a></li>
        <li class='link-about'><a href="{{ "/about" | prepend: site.baseurl }}">关于</a></li>
        <li><a href="https://github.com/lihongxun945/jquery-weui">Github</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <!--<li><a href="{{ "/enterprise-support" | prepend: site.baseurl }}">企业级付费技术支持</a></li>-->
        <li><a href="http://old.jqweui.com/" target="_blank">V0.8.3 文档</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="alert alert-success" role="alert" style="margin: 0;">
速度更快更稳定的国内镜像网站上线了<a href="https://jqweui.cn">https://jqweui.cn</a>。请注意目前只有 <a href="http://jqweui.com">http://jqweui.com</a> (国外) 和 <a href="https://jqweui.cn">https://jqweui.cn</a>(国内) 是官网网站，请不要使用其他盗版网站。
</div>
