<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">jQuery WeUI</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ "/" | prepend: site.baseurl }}">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="{{ "/components" | prepend: site.baseurl }}">文档</a></li>
        <li><a href="https://github.com/lihongxun945/jquery-weui">Github</a></li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">关于</a></li>
      </ul>
    </div>
  </div>
</nav>
