<ul class="nav side-nav" id='side-nav'>
  <li><a href="#pull-to-refresh">下拉刷新</a></li>
  <li><a href="#infinite">滚动加载</a></li>
  <li><a href="#col">栅格</a></li>
  <li><a href="#swiper">幻灯片</a></li>
  <li><a href="#photos">图片浏览器</a></li>
  <li><a href="#calendar">日历</a></li>
  <li><a href="#picker">Picker</a></li>
  <li><a href="#datetime-picker">日期时间</a></li>
  <li><a href="#city-picker">地址选择器</a></li>
  <li><a href="#notification">通知</a></li>
  <li><a href="#select">Select</a></li>
  <li><a href="#popup">Popup</a></li>
  <li><a href="#fastclick">fastclick</a></li>
</ul>
