<div class="pop">
  <div class="pop-item">
    <div class="pop-img">
      <img src="/images/yq.jpg" alt="">
    </div>
    <div class="pop-des">
      <h3>有故事的张小柒</h3>
      <p>独立心灵的成长社区。倡导克制的情感，理性的温柔。孤独是彼此陪伴的方式，每个生命都值得被温柔对待。</p>
      <i>微信扫描二维码关注</i>
    </div>
  </div>
  <div class="pop-item placeholder">
    <div class="pop-img">
      <img src="{{ "/logo/logo.png" | prepend: site.baseurl }}" alt="">
    </div>
    <div class="pop-des">
      <h3>推广位</h3>
      <p>精准面向广大前端开发者的推广，有意向请点击 <a href="https://github.com/lihongxun945/jquery-weui/blob/master/ad.md" target="_blank">推广位招租</a> 了解详情</p>
    </div>
  </div>
</div>
