<div class="pop">
  <div class="pop-item">
    <div class="pop-img">
      <img src="/images/yq.jpg" alt="">
    </div>
  </div>
  <!--
  <div class="pop-item">
    <div class="pop-img">
      <img src="/images/apple-vcode.png" alt="大沙河红富士">
    </div>
    <div class="pop-des">
      <h3>大沙河红富士</h3>
      <p>美女小伙伴家自产的红富士苹果，价格优惠味美个大，包邮。言川已品尝。</p>
      <i>扫描二维码购买</i>
    </div>
  </div>
  -->
  <div class="pop-item">
    <div class="pop-img">
      <img src="/images/duohui.png" alt="duohui">
    </div>
    <div class="pop-des">
      <h3>
        <a href="https://duohui.co/?utm_source=jqweui&utm_medium=web&utm_campaign=jqweui-index-1" target="_blank">多会 - 专业的活动管理系统</a>
      </h3>
      <p>这么说吧，我们是一个连Webhook都支持的活动管理系统。与其自己开发，不妨试试多会。</p>
      <i><a target="_blank" href="https://duohui.co/app/#/signup?invitation=jqweui" >现在注册即送1个月高级版</a></i>
    </div>
    </div>
  </div>
  <!--
  <div class="pop-item placeholder">
    <div class="pop-img">
      <img src="/images/guanggao.png" alt="推广">
    </div>
    <div class="pop-des">
      <h3>推广位</h3>
      <p>精准面向广大前端开发者的推广，有意向请点击 <a href="https://github.com/lihongxun945/jquery-weui/blob/master/ad.md" target="_blank">推广位招租</a> 了解详情</p>
    </div>
  </div>
  -->
</div>
