@yb-red: #a10000;
@yb-blue: #2d8bdc;
@yb-orange: #ff9d7b;

.yb-red { color: @yb-red;}
.yb-blue { color: @yb-blue;}
.yb-orange { color: @yb-orange;}

/* 最大显示一行，溢出省略号 */
.txt-line-one { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* 最大显示两行，溢出省略号 */
.txt-line-two { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-word; }

.b-line { content: ""; display: block; position: absolute; width: 100%; left: 0; right: 0; bottom: 0; height: 1px; overflow: hidden; border-bottom: #e4e4e4 solid 1px;}
.r-line { content: ""; display: block; position: absolute; width: 1px; top: 0; right: 0; bottom: 0; height: 100%; overflow: hidden; border-right: #e4e4e4 solid 1px;}
.t-line { content: ""; display: block; position: absolute; width: 100%; top: 0; right: 0; left: 0; height: 1px; overflow: hidden; border-top: #e4e4e4 solid 1px;}
.l-line { content: ""; display: block; position: absolute; width: 1px; top: 0; left: 0; bottom: 0; height: 100%; overflow: hidden; border-left: #e4e4e4 solid 1px;}
.clear { content: " "; display: block; height: 0; overflow: hidden; clear: both;}

.display-flex { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: horizontal; -webkit-flex-direction: row; flex-direction: row;}
.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}

._setArrow(@arrowsize, @borderColor, @borderWidth){
    display: inline-block;
    height: @arrowsize;
    width: @arrowsize;
    border-width: @borderWidth @borderWidth 0 0;
    border-color: @borderColor;
    border-style: solid;
}
.setArrow(@direction, @arrowsize, @borderColor, @borderWidth) when (@direction = top) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(0.71,-0.71,0.71,0.71,0,0); // rotate(-45deg)
}
.setArrow(@direction, @arrowsize, @borderColor,@borderWidth) when (@direction = right) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(0.71,0.71,-0.71,0.71,0,0); // rotate(45deg);

    position: relative;
    top: -2px;
}
.setArrow(@direction, @arrowsize, @borderColor,@borderWidth) when (@direction = down) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(-0.71,0.71,-0.71,-0.71,0,0); // rotate(135deg);

    position: relative;
    top: -3px;
}
.setArrow(@direction, @arrowsize, @borderColor,@borderWidth) when (@direction = left) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(-0.71,-0.71,0.71,-0.71,0,0); // rotate(-135deg);

    position: relative;
    top: -2px;
}
.arrow-t {
    content: " ";
    .setArrow(top, 6px, #C8C8CD, 2px);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}
.arrow-b {
    content: " ";
    .setArrow(down, 6px, #C8C8CD, 2px);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}
.arrow-l {
    content: " ";
    .setArrow(left, 6px, #C8C8CD, 2px);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}
.arrow-r {
    content: " ";
    .setArrow(right, 6px, #C8C8CD, 2px);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}

@font-face {
  font-family: 'ybzyicon';  /* project id 197148 */
  src: url('//at.alicdn.com/t/font_yg6f2awy76p9cnmi.eot');
  src: url('//at.alicdn.com/t/font_yg6f2awy76p9cnmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_yg6f2awy76p9cnmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_yg6f2awy76p9cnmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_yg6f2awy76p9cnmi.svg#iconfont') format('svg');
}
                    
.ybzy-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'ybzyicon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ybzy-icon-waiting:before { content: "\e60b"; }/* 受理中 */
.ybzy-icon-map:before { content: "\e63e"; }/* 地图 */
.ybzy-icon-good:before { content: "\e610"; }/* 好评 */
.ybzy-icon-good-on:before { content: "\e60f"; }/* 好评选中 */
.ybzy-icon-bad:before { content: "\e60e"; }/* 差评 */
.ybzy-icon-ban-on:before { content: "\e60d"; }/* 差评选中 */
.ybzy-icon-date:before { content: "\e73f"; }/* 日期 */
.ybzy-icon-msg:before { content: "\e616"; }/* 消息 */

body { background: #efefef; }

.weui-agree{
    display: block;
    padding: .5em 15px;
    font-size :13px;

    a{
        color: #666;
    }
}
.weui-agree__text{
    color: #999;
}
.weui-agree__checkbox{
    appearance: none;
    outline: 0;
    font-size: 0;

    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 13px;
    height: 13px;
    position: relative;

    vertical-align: 0;
    top: 2px;

    &:checked{
        &:before{
            font-family: "weui";
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-align: center;
            speak: none;
            display: inline-block;
            vertical-align: middle;
            text-decoration: inherit;
            content: "\EA08";
            color: @yb-red;
            font-size: 13px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-48%) scale(.73);
            -webkit-transform: translate(-50%,-48%) scale(.73);
        }
    }
    &:disabled{
        background-color:#E1E1E1;
        &:before{
            color:#ADADAD;
        }
    }
}

.weui-form-preview{
    position: relative;
    background-color: #FFFFFF;
    &:before{
        .t-line;
    }
    &:after{
        .b-line;
    }
}
.weui-form-preview__hd{
    position: relative;
    padding: 10px 15px;
    text-align: right;
    line-height: 2.5em;
    &:after{
        .b-line;
        left: 15px;
    }
    .weui-form-preview__value{
        font-style: normal;
        font-size: 1.6em;
    }
}
.weui-form-preview__bd{
    padding: 10px 15px;
    font-size: .9em;
    text-align: right;
    color: #999;
    line-height: 2;
}
.weui-form-preview__ft{
    position: relative;
    line-height: 50px;
    display: flex;
    &:after {
        .t-line;
    }
}
.weui-form-preview__label{
    float: left;
    margin-right: 1em;
    min-width: 4em;
    color: #999;
    text-align: justify;
    text-align-last: justify;
}
.weui-form-preview__value{
    display: block;
    overflow: hidden;
    word-break:normal;
    word-wrap: break-word;
}
.weui-form-preview__btn {
    position: relative;
    display: block;
    flex: 1;
    color: #3CC51F;
    text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    button&{
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: inherit;
    }
    &:active {
        background-color: #eee;
    }
    &:after {
        .l-line;
    }
    &:first-child {
        &:after {
            display: none;
        }
    }
}
.weui-form-preview__btn_default {
    color: #999;
}
.weui-form-preview__btn_primary {
    color: #0BB20C;
}


.ybzy-doctor-list {
	.weui_panel {
		display: block;
	}
}

/* 评论 */
.ybzy-discuss {
	background: #fff;
	.discuss-panel {
		position: relative; padding: 10px 15px;
		&:after {
			.b-line; left: 10px; right: 10px;
		}
		.discuss-user {
			.display-flex; align-items: center;
			.user-avatar {
				img { height: 36px; width: 36px; border-radius: 36px; margin-right: 12px;}
			}
			.user-name {
				.flex-1; color: @yb-blue; font-size: 15px;
			}
			.user-point {
				white-space: nowrap; color: #787878;
				span.num { color: @yb-red; }
			}
		}
		.discuss-body {
			margin-left: 48px; font-size: 13px; color: #444;
			.discuss-cont {
				line-height: 18px;
			}
			.discuss-date {
				position: relative; .display-flex; padding: 8px 0; color: #787878; white-space: nowrap;
				&:after { .b-line;}
				.date-bd {
					.flex-1;
				}
				.date-ft {
					text-align: right;
				}
			}
			.discuss-reply {
				padding: 8px 0;
				.reply-hd {
					color: @yb-blue; line-height: 18px;
					.ybzy-icon { vertical-align: middle; margin-right: 5px;}
				}
				.reply-form {
					.list-inset {
						margin: 0;
						.item-input { padding: 6px 8px 5px; margin-bottom: 5px;}
						.reply-btn {
							text-align: right;
						}
					}
				}
			}
		}
	}
}

.ybzy-filter {}
.ybzy-actions-items {}

/* 预约表 */
.ybzy-reserve-panel {
	.weui_panel_hd {
		font-size: 19px; color: #333; line-height: 30px;
		.reserve-price {
			float: right; color: #999; font-size: 15px;
		}
	}
	.weui_panel_bd {
		padding: 10px 15px 20px;
		.reserve-hd {
			.display-flex; line-height: 24px; font-size: 15px;
			& > div { .flex-1; white-space: nowrap; }
			.reserve-hd-t {
				margin-bottom: 5px;
				.ybzy-icon { color: @yb-orange; font-size: 17px; margin-right: 5px; }
			}
			.reserve-hd-date {
				text-align: right; color: @yb-orange;
			}
		}
		.ybzy-reserve-table {
			border: #e0e0e0 solid 1px; width: 100%; max-height: 100%; border-collapse: collapse; border-spacing: 0; box-sizing: border-box; font-size: 15px; border-radius: 2px;
			th,td {
				border: 1px solid #e0e0e0; padding: 8px; line-height: 1.4; white-space: nowrap; text-align: center;
			}
			th {
				background: #ededed; font-weight: normal; max-width: 60px;
				p { color: #828282; }
			}
			td {
				.reserve-radio {
					display: block; padding: .5em 5px; font-size :15px;
					.reserve-radio-text{
					    color: #999;
					}
					input:checked + .reserve-radio-text { color: @yb-orange;}
					.reserve-radio-checkbox{
					    appearance: none;
					    outline: 0;
					    font-size: 0;

					    border: 1px solid #D1D1D1;
					    background-color: #FFFFFF;
					    border-radius: 3px;
					    width: 15px;
					    height: 15px;
					    line-height: 15px;
					    position: relative;

					    vertical-align: 0;
					    top: 2px;

					    &:checked{
					    	background-color: @yb-orange; border-color: @yb-orange;
					        &:before{
					            font-family: "weui";
					            font-style: normal;
					            font-weight: normal;
					            font-variant: normal;
					            text-transform: none;
					            text-align: center;
					            speak: none;
					            display: inline-block;
					            vertical-align: middle;
					            text-decoration: inherit;
					            content: "\EA08";
					            color: #fff;
					            font-size: 15px;

					            position: absolute;
					            top: 50%;
					            left: 50%;
					            transform: translate(-50%,-48%) scale(.73);
					            -webkit-transform: translate(-50%,-48%) scale(.73);
					        }
					    }
					    &:disabled{
					        background-color:#E1E1E1;
					        &:before{
					            color:#ADADAD;
					        }
					    }
					}
				}
			}
		}
	}
}


/* 退款详情 */
.shtx-schedule {
    margin-top: 0;
    .weui_cell_bd {
        p span { font-size: 0.9rem; margin-right: 0.5em;}
        .shtx-schedule-list { 
            border-left: #8ee4cc solid 1px; padding-left: 1rem; margin-left: 0.5rem;
            .item {
                border-bottom:#eee solid 1px; padding: 0.5em 0; position: relative;
                &:last-child { border-bottom: none;}
                &:before { width: 0.55rem; height: 0.55rem; background: #8ee4cc; border-radius: 0.4rem; content:""; display: block; position: absolute; left: -1.32rem; top: 1rem;}
                &:first-child:before { background: #1dbd91 ; width: 0.75rem; height: 0.75rem; border:#bbebde solid 0.2rem; border-radius: 1rem; left: -1.6rem; top: 0.8rem;}
                p {
                    line-height: 1rem; color: #999;
                    &.schedule-t { font-size: 0.9rem; color: #1dbd91; }
                    &.schedule-c { font-size: 0.8rem; }
                    &.schedule-d { font-size: 0.8rem; }
                    span { margin: 0 0.2rem; color: #1dbd91;}
                }
            }
        }
    }
}





















