.weui_actionsheet {
  z-index: 100;


  .color-primary {
    color: @color-primary;
  }

  .color-danger {
    color: @color-danger;
  }

  .color-warning {
    color: @color-warning;
  }

  .color-success {
    color: @color-success;
  }

  .bg-primary,
  .bg-success,
  .bg-danger,
  .bg-warning {
    color: white;
  }

  .bg-primary {
    background-color: @color-primary;
  }

  .bg-danger {
    background-color: @color-danger;
  }

  .bg-warning {
    background-color: @color-warning;
  }

  .bg-success {
    background-color: @color-success;
  }
}
