.weui-select-modal {
  height: auto;

  .weui-cells {
    margin: 0;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 16rem;

    &:after {
      display: none;
    }
  }
}
