.weui-icon_toast {
  font-size: 55px;
  color: white;
  margin-bottom: 6px;
}

.weui-toast--forbidden {
  .weui-icon_toast {
    color: @color-danger;
  }
}

.weui-toast--text {
  min-height: initial;
  font-size: 18px;
  padding: 8px 16px;
  width: auto;
  top: 40%;
  .weui-icon_toast {
    display: none;
  }
}
