<article id="actions" class='component' data-url="../dist/demos/action-sheet.html">
  <h2>ActionSheet</h2>
  <p>ActionSheet用于显示包含一系列可交互的动作集合，包括说明、跳转等。由底部弹出，一般用于响应用户对页面的点击。</p>

  <p>ActionSheet 只能通过 JavaScript 进行调用:</p>

{% highlight js %}
$.actions({
  actions: [{
    text: "编辑",
    onClick: function() {
      //do something
    }
  },{
    text: "删除",
    onClick: function() {
      //do something
    }
  }]
});
{% endhighlight %}

  <h3>参数说明</h3>

  <p>通过 <code>$.actions(params)</code> 方法打开 ActionSheet。可用参数如下：</p>

  <table class='table'>
    <tr>
      <th>参数名</th>
      <th>说明</th>
    </tr>
    <tr>
      <td>actions</td>
      <td>菜单项，关于每一个菜单项的配置请参见下文</td>
    </tr>
    <tr>
      <td>title</td>
      <td>可以给弹层设置一个标题，如果不设置则不会显示标题</td>
    </tr>
    <tr>
      <td>onClose</td>
      <td>关闭弹层的回调函数</td>
    </tr>
  </table>
  
  <p><code>actions</code> 参数是一个数组，数组中的每一项都是一个菜单。</p>
  <p>对每一个菜单的可用配置如下：</p>

  <table class='table'>
    <tr>
      <th>参数名</th>
      <th>说明</th>
    </tr>
    <tr>
      <td>text</td>
      <td>菜单显示的文案</td>
    </tr>
    <tr>
      <td>className</td>
      <td>菜单上额外追加的class</td>
    </tr>
    <tr>
      <td>onClick</td>
      <td>点击之后的回调函数</td>
    </tr>
  </table>

  <h3>颜色配置</h3>

  <p>从 <code>V0.7.0</code> 开始， 可以通过 <code>className</code> 参数配置不同的颜色或者背景，可以参考右侧的demo用法如下：</p>

{% highlight js %}
$.actions({
  actions: [
    {
      text: "发布",
      className: "color-primary",
    },
  ...
});
{% endhighlight %}

<p>所有可用配置如下：</p>

  <table class="table">
    <tr>
      <td>color-primary</td>
      <td>color-success</td>
      <td>color-danger</td>
      <td>color-warning</td>
    </tr>
    <tr>
      <td>bg-primary</td>
      <td>bg-success</td>
      <td>bg-danger</td>
      <td>bg-warning</td>
    </tr>
  </table>

</article>
