<article id="buttons" class='component' data-url="../dist/demos/buttons.html">
  <h2>按钮</h2>
  <p>按钮可以使用 <code>a</code> 或者 <code>button</code> 标签。wap上要触发按钮的 <code>active</code>态，必须触发 <code>ontouchstart</code>事件，可以在 <code>body</code> 上加上 <code>ontouchstart=""</code> 全局触发。</p>

  <p>按钮常见的操作场景：确定、取消、警示，分别对应class：<code>weui-btn_primary</code>、<code>weui-btn_default</code>、<code>weui-btn_warn</code>，每种场景都有自己的置灰态 <code>weui-btn_disabled</code>，除此外还有一种镂空按钮 <code>weui-btn_plain-xxx</code>，客户端webview里的按钮尺寸有两类，默认宽度100%，小型按钮宽度自适应，两边边框与文本间距0.75em：</p>

{% highlight html %}
<a href="javascript:;" class="weui-btn weui-btn_primary">按钮</a>
<a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_primary">按钮</a>
<a href="javascript:;" class="weui-btn weui-btn_warn">确认</a>
<a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_warn">确认</a>
<a href="javascript:;" class="weui-btn weui-btn_default">按钮</a>
<a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default">按钮</a>
<a href="javascript:;" class="weui-btn weui-btn_plain-default">按钮</a>
<a href="javascript:;" class="weui-btn weui-btn_plain-primary">按钮</a>
{% endhighlight %}
</article>
