<article class="component" id="calendar" data-url='../dist/demos/calendar.html'>
  <h2 class="component-title">日历</h2>
  <p class="component-description">日历组件用来选择年月日，可以代替系统原生的日历组件，提供更统一的视觉和交互以及更好的兼容性。</p>
  <p>日历组件需要初始化才能使用，最简单的方式是通过一下JS代码来初始化，绑定到一个input元素上：</p>

{% highlight js %}
$("#my-input").calendar();
{% endhighlight %}

  <p>当你点击input元素后，会自动弹出一个JS生成的日历组件。当用户选择日期之后，input的值会被设置为用户选择的日期。</p>
  <p>如果你不想写js，可以通过以下方式来自动初始化：</p>
{% highlight html%}
<input type="text" data-toggle='date' />
{% endhighlight %}

  <h2>参数</h2>
  <p>你可以在初始化的时候指定如下参数：</p>

  <table class="table">
    <thead>
      <tr>
        <th>参数名</th>
        <th>类型</th>
        <th>默认值</th>
        <th>说明</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>inputReadOnly</td>
        <td>boolean</td>
        <td>true</td>
        <td>是否自动在 <code>input</code> 元素上加上 <code>readonly</code> 属性</td>
      </tr>
      <tr>
        <td>closeByOutsideClick</td>
        <td>boolean</td>
        <td>true</td>
        <td>点击日历外面关闭</td>
      </tr>
      <tr>
        <td>toolbarTemplate</td>
        <td>string</td>
        <td>参见源码</td>
        <td>Toolbar 的HTML结构</td>
      </tr>
      <tr>
        <td>value</td>
        <td>array</td>
        <td></td>
        <td>默认选择的日期，注意是个数组，比如 <code>["2016-12-12"]</code></td>
      </tr>
      <tr>
        <td>formatValue</td>
        <td>function (p, values)</td>
        <td></td>
        <td>格式化函数. <b>values</b> 是用户选择的日期</td>
      </tr>
      <tr>
        <td>monthNames</td>
        <td>array</td>
        <td>['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']</td>
        <td>月名称</td>
      </tr>
      <tr>
        <td>monthNamesShort</td>
        <td>array</td>
        <td>['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']</td>
        <td>月名称缩写</td>
      </tr>
      <tr>
        <td>dayNames</td>
        <td>array</td>
        <td>['周日', '周一', '周二', '周三', '周四', '周五', '周六']</td>
        <td>周名称</td>
      </tr>
      <tr>
        <td>dayNamesShort</td>
        <td>array</td>
        <td>['周日', '周一', '周二', '周三', '周四', '周五', '周六']</td>
        <td>周名称缩写</td>
      </tr>
      <tr>
        <td>dateFormat</td>
        <td>'yyyy-mm-dd'</td>
        <td>日期格式</td>
      </tr>
      <tr>
        <td>minDate</td>
        <td>undefined</td>
        <td>最小可选日期，比如 <code>2015-06-01</code></td>
      </tr>
      <tr>
        <td>maxDate</td>
        <td>undefined</td>
        <td>最大可选日期，比如 <code>2015-08-01</code></td>
      </tr>
      <tr>
        <td>onChange</td>
        <td>function(p, values, displayValues){}</td>
        <td>当用户选择日期时触发</td>
      </tr>
      <tr>
        <td>closeOnSelect</td>
        <td>boolean</td>
        <td>true</td>
        <td>用户选择一个时间后就自动关闭</td>
      </tr>
    </tr>
    <tr>
      <td>yearPicker</td>
      <td>boolean</td>
      <td>true</td>
      <td>Enable year picker in toolbar</td>
    </tr>
    <tr>
      <th colspan="4">回调函数</th>
    </tr>
    <tr>
      <td>onChange</td>
      <td>function (p, values, displayValues)</td>
      <td></td>
      <td>Callback function that will be executed when picker value changed. <b>values</b> and <b>displayValues</b> are arrays where each item represents value/display value of related column</td>
    </tr>
    <tr>
      <td>onMonthAdd</td>
      <td>function (p, monthContainer)</td>
      <td></td>
      <td>Callback function that will be executed when newly generated month HTML element will be added to calendar.</td>
    </tr>
    <tr>
      <td>onDayClick</td>
      <td>function (p, dayContainer, year, month, day)</td>
      <td></td>
      <td>Callback function that will be executed when user clicks/select any date</td>
    </tr>
    <tr>
      <td>onOpen</td>
      <td>function (p)</td>
      <td></td>
      <td>Callback function that will be executed when picker is opened</td>
    </tr>
    <tr>
      <td>onClose</td>
      <td>function (p)</td>
      <td></td>
      <td>Callback function that will be executed when picker is closed</td>
    </tr>
  </tbody>
</table>

<p>当用户选择完日期之后，会在 input 上触发 <code>change</code> 事件，你可以监听此事件。</p>

<p>如果你只同时选择日期和时间，请使用 <a href='#datetime-picker'>日期时间选择器</a></p>

  <h3>方法</h3>

  <p>通过 <code>$("xxx").calendar("methodname", args)</code> 可以调用method的方法，目前有如下方法可以调用：</p>

{% highlight js %}
$("#input").calendar("close");  //关闭弹窗
$("#input").calendar("open");  //打开弹窗
$("#input").calendar("setValue", ["2012-12-12"]);  //设置日期
$("#input").calendar("destroy");  //销毁
{% endhighlight %}

  <h4>内联日历</h4>

  <p>在初始化 <code>Calendar</code> 的时候可以通过 <code>container</code> 参数来指定一个容器，如果把这个容器指定为页面上的一个元素，那么日历就会默认显示出来。</p>


{% highlight js %}
$("#inline-calendar").calendar({
  container: "#inline-calendar",
  input: "#date3"
});
{% endhighlight %}

<p>如果你在内联日历的时候，不希望有一个 <code>input</code> 会显示用户的输入值，那么只需要指定一个 <code>type="hidden"</code> 的input即可。但是千万注意不能不设置 input 参数。具体请参见右侧demo的写法</p>

</article>
