<article id="cell" class='component'>
  <h2>列表</h2>
  <h3>简单列表</h3>

{% highlight html %}
<div class="weui_cells">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <p>标题文字</p>
    </div>
    <div class="weui_cell_ft">
      说明文字
    </div>
  </div>
</div>
{% endhighlight %}
</article>

<article class='component'>
  <h3>带图标的列表</h3>


{% highlight html %}
<div class="weui_cells weui_cells_access">
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_hd">
      <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
    </div>
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      说明文字
    </div>
  </a>
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_hd">
      <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
    </div>
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      说明文字
    </div>
  </a>
</div>
{% endhighlight %}
</article>
