<article id="cell" class='component' data-url="cell.html">
  <h2>列表</h2>
  <h3>简单列表</h3>

{% highlight html %}
<div class="weui_cells">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <p>标题文字</p>
    </div>
    <div class="weui_cell_ft">
      说明文字
    </div>
  </div>
</div>
{% endhighlight %}
</article>

<article class='component' data-url="cell-icon.html">
  <h3>带图标的列表</h3>


{% highlight html %}
<div class="weui_cells weui_cells_access">
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_hd">
      <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
    </div>
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      说明文字
    </div>
  </a>
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_hd">
      <img src="" alt="icon" style="width:20px;margin-right:5px;display:block">
    </div>
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      说明文字
    </div>
  </a>
</div>
{% endhighlight %}
</article>


<article class='component' data-url="cell-link.html">
  <h3>带链接的列表</h3>


{% highlight html %}
<div class="weui_cells weui_cells_access">
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">说明文字</div>
  </a>
  <a class="weui_cell" href="javascript:;">
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">说明文字</div>
  </a>
</div>
{% endhighlight %}
</article>


<article class='component' data-url="cell-radio.html">
  <h3>单选列表</h3>

{% highlight html %}
<div class="weui_cells weui_cells_radio">
  <label class="weui_cell weui_check_label" for="x11">
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      <input type="radio" class="weui_check" name="radio1" id="x11">
      <span class="weui_icon_checked"></span>
    </div>
  </label>
  <label class="weui_cell weui_check_label" for="x12">

    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      <input type="radio" name="radio1" class="weui_check" id="x12" checked="checked">
      <span class="weui_icon_checked"></span>
    </div>
  </label>
</div>
{% endhighlight %}
</article>


<article class='component' data-url="cell-checkbox.html">
  <h3>复选列表</h3>

{% highlight html %}
<div class="weui_cells weui_cells_radio">
  <label class="weui_cell weui_check_label" for="x11">
    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      <input type="radio" class="weui_check" name="radio1" id="x11">
      <span class="weui_icon_checked"></span>
    </div>
  </label>
  <label class="weui_cell weui_check_label" for="x12">

    <div class="weui_cell_bd weui_cell_primary">
      <p>cell standard</p>
    </div>
    <div class="weui_cell_ft">
      <input type="radio" name="radio1" class="weui_check" id="x12" checked="checked">
      <span class="weui_icon_checked"></span>
    </div>
  </label>
</div>
{% endhighlight %}
</article>
