<article id="footer" class='component' data-url="../dist/demos/footer.html">
  <h2>Footer</h2>
  <p>一个简单的页脚</p>

{% highlight html%}
<div class="weui-footer">
  <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
</div>

<div class="weui-footer">
  <p class="weui-footer__links">
    <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
  </p>
  <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
</div>

<div class="weui-footer">
  <p class="weui-footer__links">
    <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
    <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
  </p>
  <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
</div>
{% endhighlight %}

<p>加上 <code>.weui-footer_fixed-bottom</code> 可以固定在底部</p>

</article>
