<article class='component' data-url="form.html" id='form'>
  <h2>表单</h2>

  <p>表单是基于列表的布局实现的.包括很多常用的表单控件：</p>

{% highlight html %}
<div class="weui_cells weui_cells_form">
  <div class="weui_cell">
    <div class="weui_cell_hd"><label class="weui_label">qq</label></div>
    <div class="weui_cell_bd weui_cell_primary">
      <input class="weui_input" type="tel" placeholder="请输入qq号">
    </div>
  </div>
  <div class="weui_cell weui_vcode">
    <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
    <div class="weui_cell_bd weui_cell_primary">
      <input class="weui_input" type="number" placeholder="请输入验证码">
    </div>
    <div class="weui_cell_ft">
      <img src="{{ "/assets/img/vcode.jpg" | prepend: site.baseurl }}">
    </div>
  </div>
  <div class="weui_cell weui_cell_switch">
    <div class="weui_cell_hd weui_cell_primary">接受通知</div>
    <div class="weui_cell_ft">
      <input class="weui_switch" type="checkbox">
    </div>
  </div>
  <div class="weui_cell">
    <div class="weui_cell_hd"><label for="" class="weui_label">日期</label></div>
    <div class="weui_cell_bd weui_cell_primary">
      <input class="weui_input" type="date" value="">
    </div>
  </div>
  <div class="weui_cell">
    <div class="weui_cell_hd"><label for="" class="weui_label">时间</label></div>
    <div class="weui_cell_bd weui_cell_primary">
      <input class="weui_input" type="datetime-local" value="" placeholder="">
    </div>
  </div>
  <div class="weui_cell weui_cell_select">
    <div class="weui_cell_bd weui_cell_primary">
      <select class="weui_select" name="select1">
        <option selected="" value="0">选择</option>
        <option value="1">微信号</option>
        <option value="2">QQ号</option>
        <option value="3">Email</option>
      </select>
    </div>
  </div>
</div>
<div class="weui_cells_title">文本域</div>
<div class="weui_cells weui_cells_form">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <textarea class="weui_textarea" placeholder="请输入评论" rows="3"></textarea>
      <div class="weui_textarea_counter"><span>0</span>/200</div>
    </div>
  </div>
</div>
{% endhighlight %}
</article>

<article class='component' data-url="form-error.html">
  <h3>表单校验</h3>

  <p>在 <code>weui_cell</code> 上加上一个 <code>weui_cell_warn</code> 类，就变成了错误的样式。</p>
  <p>目前只提供了样式，并没有提供JS的校验功能。 你可以使用 <a href="http://jqueryvalidation.org/">jQuery Validation</a> 之类的插件来实现。</p>

{% highlight html %}
<div class="weui_cell weui_cell_warn">
  ....
</div>
{% endhighlight %}
</article>

<article class='component' data-url="file-upload.html">
  <h3>文件上传</h3>

  <p>目前文件上传仅有CSS样式，并没有对应的JS插件。</p>

{% highlight html %}
<div class="weui_cell weui_cell_warn">
  <div class="weui_cell">
    <div class="weui_cell_bd weui_cell_primary">
      <div class="weui_uploader">
        <div class="weui_uploader_hd weui_cell">
          <div class="weui_cell_bd weui_cell_primary">图片上传</div>
          <div class="weui_cell_ft">3/5</div>
        </div>
        <div class="weui_uploader_bd">
          <ul class="weui_uploader_files">
            <li class="weui_uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></li>
            <li class="weui_uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></li>
            <li class="weui_uploader_file" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)"></li>
            <li class="weui_uploader_file weui_uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
              <div class="weui_uploader_status_content">
                <i class="weui_icon_warn"></i>
              </div>
            </li>
            <li class="weui_uploader_file weui_uploader_status" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/)">
              <div class="weui_uploader_status_content">50%</div>
            </li>
          </ul>
          <div class="weui_uploader_input_wrp">
            <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endhighlight %}
</article>
