<article id="grid" class='component' data-url="grid.html">
  <h2>九宫格</h2>


{% highlight html %}
<div class="weui_grids">
  <a href="javascript:;" class="weui_grid js_grid" data-id="button">
    <div class="weui_grid_icon">
      <img src="./images/icon_nav_button.png" alt="">
    </div>
    <p class="weui_grid_label">
      Button
    </p>
  </a>
  <a href="javascript:;" class="weui_grid js_grid" data-id="cell">
    <div class="weui_grid_icon">
      <img src="./images/icon_nav_cell.png" alt="">
    </div>
    <p class="weui_grid_label">
      Cell
    </p>
  </a>
  <a href="javascript:;" class="weui_grid js_grid" data-id="toast">
    <div class="weui_grid_icon">
      <img src="./images/icon_nav_toast.png" alt="">
    </div>
    <p class="weui_grid_label">
      Toast
    </p>
  </a>
  ...
</div>
{% endhighlight %}
</article>
