<article id="loading" class='component' data-url="../dist/demos/loadmore.html">
  <h2>Loading</h2>
  <p>纯静态，显示一个正在加载的提示。</p>

{% highlight html%}
<div class="weui-loadmore">
  <i class="weui-loading"></i>
  <span class="weui-loadmore__tips">正在加载</span>
</div>
<div class="weui-loadmore weui-loadmore_line">
  <span class="weui-loadmore__tips">暂无数据</span>
</div>
<div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
  <span class="weui-loadmore__tips"></span>
</div>
{% endhighlight %}

</article>
