<article id="loadmore" class='component' data-url="../dist/demos/loadmore.html">
  <h2>loadmore</h2>
  <p>一个纯静态展示的组件</p>
  <p>如果想使用滚动加载，请使用 <a href="/extends#infinite">infinite</a></p>

{% highlight html %}
<div class="weui-loadmore">
  <i class="weui-loading"></i>
  <span class="weui-loadmore__tips">正在加载</span>
</div>
<div class="weui-loadmore weui-loadmore_line">
  <span class="weui-loadmore__tips">暂无数据</span>
</div>
<div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
  <span class="weui-loadmore__tips"></span>
</div>
{% endhighlight %}
</article>
