<article id="navbar" class='component' data-url="../dist/demos/navbar.html">
  <h2>导航栏</h2>
  <p>因为微信本身就有一个顶部的标题栏，所以这个导航栏其实是在标题栏之下的二级导航栏，因此它实际上就是一个放在页面顶部的 tabbar 而已。</p>

{% highlight html %}
<div class="weui-navbar">
  <div class="weui-navbar__item weui_bar__item_on">
    选项一
  </div>
  <div class="weui-navbar__item">
    选项二
  </div>
  <div class="weui-navbar__item">
    选项三
  </div>
</div>
{% endhighlight %}

  <h3>自动切换</h3>

  <p>在正确的HTML结构前提下，给 <code>.weui-tabbar__item</code> 或者 <code>.weui-navbar__item</code> 加上 <code>href="#id"</code> 指向一个 <code>.weui-tab__bd-item</code>，即可实现点击的时候自动切换。</p>

  <p>初识状态显示的标签，需要自行添加 <code>.weui-bar__item--on</code> 和 <code>.weui-tab__bd-item--active</code>.</p>

  <p>基本结构如下所示：</p>

{% highlight html %}

<!-- 容器 -->
<div class="weui-tab">
  <div class="weui-navbar">
    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
      选项一
    </a>
    <a class="weui-navbar__item" href="#tab2">
      选项二
    </a>
    ...
  </div>
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
      <h1>页面一</h1>
    </div>
    <div id="tab2" class="weui-tab__bd-item">
      <h1>页面二</h1>
    </div>
    ...
  </div>
</div>
{% endhighlight %}
</article>
