<article id="photos" class='component' data-url="../dist/demos/photo-browser.html">
  <h2>Photo Browser</h2>
  <p>Photo Browser 是一个可以全屏浏览多张图片的插件，类似朋友圈中查看图片的功能。</p>

  <p>Photo Browser 只能通过 JavaScript 进行调用:</p>

{% highlight js %}
var pb1 = $.photoBrowser({
  items: [
    "./images/swiper-1.jpg",
    "./images/swiper-2.jpg",
    "./images/swiper-3.jpg"
  ]
});
{% endhighlight %}

  <p>如果图片带有文案，可以这样调用：</p>

{% highlight js %}
var pb2 = $.photoBrowser({
  items: [
    {
      image: "./images/swiper-1.jpg",
      caption: "描述文案"
    },
    {
      image: "./images/swiper-2.jpg",
      caption: "描述文案"
    },
    {
      image: "./images/swiper-3.jpg",
      caption: "描述文案"
    }
  ]
});
{% endhighlight %}

  <p><code>$.photoBrowser</code> 方法会返回一个实例，这个实例可以调用方法打开和关闭弹层：</p>

{% highlight js %}
pb.open();  //打开
pb.close(); //关闭
{% endhighlight %}

  <h3>参数配置</h3>
  <p><code>$.photoBrowser(config)</code> 有如下配置可用：</p>

  <table class="table">
    <tr>
      <th>参数名</th>
      <th>说明</th>
      <th>示例</th>
    </tr>
    <tr>
      <td>items</td>
      <td>需要展示的图片</td>
      <td><code>items: ["./images/swiper-1.jpg", "./images/swiper-2.jpg", ...]</code></td>
    </tr>
    <tr>
      <td>onSlideChange</td>
      <td>左右翻页的回调函数</td>
      <td><code>onSlideChange: function(index) { console.log(index); }</code></td>
    </tr>
    <tr>
      <td>onOpen</td>
      <td>每次打开之后执行回调</td>
      <td><code>onOpen: function() { console.log(this); }</code></td>
    </tr>
    <tr>
      <td>onClose</td>
      <td>每次关闭之后执行回调</td>
      <td><code>onClose: function() { console.log(this); }</code></td>
    </tr>
    <tr>
      <td>tpl</td>
      <td>图片浏览器的HTML模板，除非非常熟悉，否则不建议直接修改模板</td>
      <td></td>
    </tr>
  </table>

  <p> <strong>注意，从 <code>V0.7.0</code> 开始才支持此插件</strong>，目前功能较弱，下一个版本会支持 图片缩放以及滑动回调等。</p>
  <p> <strong>注意，请不要使用上述列表没有列出来的配置，因为这些没有列出来的是下一个版本很可能会改动的，包括 <code>swiper</code> 对象可能会被删除。</strong></p>

</article>
