<article class='component' data-url="../dist/demos/progress.html" id='progress'>
  <h2>进度条</h2>
  <p>progress用于上传、下载等耗时并且需要显示进度的场景，用户可以随时中断该操作。</p>

{% highlight html %}
<div class="weui-progress">
  <div class="weui-progress__bar">
    <div class="weui-progress__inner-bar js_progress" style="width: 50%;"></div>
  </div>
  <a href="javascript:;" class="weui-progress__opr">
    <i class="weui-icon-cancel"></i>
  </a>
</div>
<br>
<div class="weui-progress">
  <div class="weui-progress__bar">
    <div class="weui-progress__inner-bar js_progress" style="width: 80%;"></div>
  </div>
  <a href="javascript:;" class="weui-progress__opr">
    <i class="weui-icon-cancel"></i>
  </a>
</div>
{% endhighlight %}
</article>
