<article id="searchbar" class='component' data-url="../dist/demos/searchbar.html">
  <h2>搜索栏</h2>

  <p>搜索栏，类似于微信原生的搜索栏，应用于常见的搜索场景。</p>


{% highlight html %}
<div class="weui-search-bar" id="searchBar">
  <form class="weui-search-bar__form">
    <div class="weui-search-bar__box">
      <i class="weui-icon-search"></i>
      <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
      <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
    </div>
    <label class="weui-search-bar__label" id="searchText">
      <i class="weui-icon-search"></i>
      <span>搜索</span>
    </label>
  </form>
  <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
{% endhighlight %}

<p>通过在 <code>weui-search-bar</code> 上添加 <code>weui-search-bar_focusing</code> 来实现状态切换</p>
</article>
