<article id="searchbar" class='component' data-url="searchbar.html">
  <h2>搜索栏</h2>

  <p>搜索栏，类似于微信原生的搜索栏，应用于常见的搜索场景。</p>


{% highlight html %}
<div class="weui_search_bar" id="search_bar">
  <form class="weui_search_outer">
    <div class="weui_search_inner">
      <i class="weui_icon_search"></i>
      <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
      <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
    </div>
    <label for="search_input" class="weui_search_text" id="search_text">
      <i class="weui_icon_search"></i>
      <span>搜索</span>
    </label>
  </form>
  <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
</div>
{% endhighlight %}

<p><code>weui_search_cancel</code> 和 <code>weui_search_outer</code> 是宽度自适应的，具体的文案可以根据需要确定。<code>weui_search_cancel</code> 在搜索栏获得焦点的时候显示，在其他时间都是隐藏的。</p>

<p><code>weui_search_cancel</code> 的显示和隐藏是通过在最顶层 <code>weui_search_bar</code> 添加/删除 <code>weui_search_focusing</code> 类来实现。</p>

</article>
