<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/dist/lib/weui.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/dist/css/jquery-weui.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/docs-demos.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>

  <body ontouchstart>
    {{ content }}
    <!--<script src="{{ "/dist/lib/jquery-2.1.4.js" | prepend: site.baseurl }}"></script>-->
    <script src="{{ "/assets/js/zepto.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/dist/js/jquery-weui.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/demos.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
