<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title">按钮</h1>
    </header>

    <div class='demos-content-padded'>
      <a href="javascript:;" class="weui-btn weui-btn_primary">主按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_primary">禁用按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_warn">警告按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_warn">禁用按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_default">默认按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_disabled weui-btn_default">禁用按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_plain-default">扁平默认按钮</a>
      <a href="javascript:;" class="weui-btn weui-btn_plain-primary">扁平主按钮</a>

      <div class="button_sp_area">
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">按钮</a>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">按钮</a>
      </div>

      <p>
        <a href="javascript:;" class="weui-btn weui-btn_primary weui-btn_loading">正在加载...</a>
        <a href="javascript:;" class="weui-btn weui-btn_warn weui-btn_loading">正在加载...</a>
        <a href="javascript:;" class="weui-btn weui-btn_default weui-btn_loading">正在加载...</a>
      </p>
    </div>
    <% include _foot.html %>
  </body>
</html>
