<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title">Calendar</h1>
    </header>

    
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="date" class="weui_label">日期</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" id="date" type="text" value="2016-05-03">
        </div>
      </div>
    </div>
    <% include _foot.html %>

    <script>
      $("#date").calendar();
    </script>
  </body>
</html>
