<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="list-block contacts-block">
      <div class="weui_cells list-group">
        <div class="list-group-title">A</div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            AxelLin
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            AxelLin
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            AxelLin
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            AxelLin
          </div>
        </div>
      </div>
      <div class="weui_cells list-group">
        <div class="list-group-title">S</div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
      </div>
      <div class="weui_cells list-group">
        <div class="list-group-title">T</div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_hd">
            <img src="" alt="" width="20">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            theif
          </div>
        </div>
      </div>
    </div>
    <% include _foot.html %>
  </body>
</html>
