<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title">Picker</h1>
    </header>

    
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="time" class="weui_label">时间</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" id="time" type="text" value="">
        </div>
      </div>
    </div>
    <% include _foot.html %>

    <script>
      $("#time").datetimePicker({
        min: "2012-12-12",
        max: "2022-12-12 12:12"
      });
    </script>
  </body>
</html>
