<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>

    <div class="weui-gallery" style="display: block">
      <span class="weui-gallery__img" style="background-image: url(./images/pic_article.png);"></span>
      <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del">
          <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
      </div>
    </div>
    <% include _foot.html %>
  </body>
</html>
