<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>

    <header class='demos-header'>
      <h1 class="demos-title">Grid</h1>
    </header>

    <div class="weui-grids">
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_button.png" alt="">
        </div>
        <p class="weui-grid__label">
          Button
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
          List
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
          Form
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui-grid__label">
          Flex
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_toast.png" alt="">
        </div>
        <p class="weui-grid__label">
          Toast
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_dialog.png" alt="">
        </div>
        <p class="weui-grid__label">
          Dialog
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_progress.png" alt="">
        </div>
        <p class="weui-grid__label">
          Progress
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui-grid__label">
          Msg
        </p>
      </a>
      <a href="" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="images/icon_nav_article.png" alt="">
        </div>
        <p class="weui-grid__label">
          Article
        </p>
      </a>
    </div>

    <% include _foot.html %>
  </body>

</html>
