<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title">Progress</h1>
    </header>

    <div class='demos-content-padded'>
      <div class="weui_progress">
        <div class="weui_progress_bar">
          <div class="weui_progress_inner_bar js_progress" style="width: 0%;"></div>
        </div>
        <a href="javascript:;" class="weui_progress_opr">
          <i class="weui_icon_cancel"></i>
        </a>
      </div>
      <br>
      <div class="weui_progress">
        <div class="weui_progress_bar">
          <div class="weui_progress_inner_bar js_progress" style="width: 50%;"></div>
        </div>
        <a href="javascript:;" class="weui_progress_opr">
          <i class="weui_icon_cancel"></i>
        </a>
      </div>
      <br>
      <div class="weui_progress">
        <div class="weui_progress_bar">
          <div class="weui_progress_inner_bar js_progress" style="width: 80%;"></div>
        </div>
        <a href="javascript:;" class="weui_progress_opr">
          <i class="weui_icon_cancel"></i>
        </a>
      </div>
    </div>
    <% include _foot.html %>
  </body>
</html>
