<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>


    <header class='demos-header'>
      <h1 class="demos-title">Toast</h1>
    </header>

    <div class='demos-content-padded'>
      <a href="javascript:;" id='show-toast' class="weui_btn weui_btn_primary">显示 Toast</a>
    </div>
    <% include _foot.html %>
    <script>
      $(document).on("click", "#show-toast", function() {
        $.toast("操作成功");
      });
    </script>
  </body>
</html>
