<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <% include _head.html %>
  </head>

  <body ontouchstart>
    <div class="page__pd">
      <div class="weui-search-bar" id="searchBar">
        <form class="weui-search-bar__form" action="#">
          <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
          </div>
          <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
          </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
      </div>
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar.jpg" alt="">
              <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                刘亦菲
                <span class="weui-media-box__title-after">下午8:12</span>
              </h4>
              <p class="weui-media-box__desc">小李明天早上帮我带两个包子，一个猪肉粉丝和一个奶黄包</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar2.jpg" alt="">
              <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">3</span>
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                Baby
                <span class="weui-media-box__title-after">下午7:23</span>
              </h4>
              <p class="weui-media-box__desc">晚上约吗？</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar3.jpg" alt="">
              <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">99+</span>
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                江户川-元芳
                <span class="weui-media-box__title-after">上午10:15</span>
              </h4>
              <p class="weui-media-box__desc">真相只有一个</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                刘亦菲
                <span class="weui-media-box__title-after">下午8:12</span>
              </h4>
              <p class="weui-media-box__desc">小李明天早上帮我带两个包子，一个猪肉粉丝和一个奶黄包</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar2.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                Baby
                <span class="weui-media-box__title-after">下午7:23</span>
              </h4>
              <p class="weui-media-box__desc">晚上约吗？</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar3.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                江户川-元芳
                <span class="weui-media-box__title-after">上午10:15</span>
              </h4>
              <p class="weui-media-box__desc">真相只有一个</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                刘亦菲
                <span class="weui-media-box__title-after">下午8:12</span>
              </h4>
              <p class="weui-media-box__desc">小李明天早上帮我带两个包子，一个猪肉粉丝和一个奶黄包</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar2.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                Baby
                <span class="weui-media-box__title-after">下午7:23</span>
              </h4>
              <p class="weui-media-box__desc">晚上约吗？</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar3.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                江户川-元芳
                <span class="weui-media-box__title-after">上午10:15</span>
              </h4>
              <p class="weui-media-box__desc">真相只有一个</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                刘亦菲
                <span class="weui-media-box__title-after">下午8:12</span>
              </h4>
              <p class="weui-media-box__desc">小李明天早上帮我带两个包子，一个猪肉粉丝和一个奶黄包</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar2.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                Baby
                <span class="weui-media-box__title-after">下午7:23</span>
              </h4>
              <p class="weui-media-box__desc">晚上约吗？</p>
            </div>
          </a>
          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
              <img class="weui-media-box__thumb" src="images/avatar3.jpg" alt="">
            </div>
            <div class="weui-media-box__bd">
              <h4 class="weui-media-box__title">
                江户川-元芳
                <span class="weui-media-box__title-after">上午10:15</span>
              </h4>
              <p class="weui-media-box__desc">真相只有一个</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <style>
      .weui-panel {
        margin: 0;
      }
      .weui-media-box {
        padding: 8px 15px;
      }
      .weui-panel__bd .weui-media-box__hd {
        width: 50px;
        height: 50px;
        line-height: 50px;
        position: relative;
      }
      .weui-media-box__desc {
        -webkit-line-clamp: 1;
      }
      .weui-media-box__title {
        margin-top: -4px;
      }
    </style>
    <% include _foot.html %>
    <script>
    </script>
  </body>
</html>
