<!DOCTYPE html>
<html>

<head>
    <title>医生详情</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="../lib/weui.min.css">
    <link rel="stylesheet" href="../css/jquery-weui.css">
    <link rel="stylesheet" href="css/ybzy.css">
</head>

<body ontouchstart>
    <header class="ybzy-header">
        <h1 class="ybzy-title">就诊人李云迪：选择大夫预约就诊</h1>
    </header>
    <div class="ybzy-container with-hd">
        <% include _ybzy-doctor-detail.html %>

        <% include _ybzy-discuss.html %>
        
    </div>

    <script src="../lib/jquery-2.1.4.js"></script>
    <!-- <script src="../lib/fastclick.js">
        </script>
        <script>
        $(function() {
            FastClick.attach(document.body);
        });
    </script> -->
    <script src="../js/jquery-weui.js"></script>
    <script>
    $("#doctor-unfollow").click(function() {
        $.actions({
            title: "选择操作",
            onClose: function() {
                console.log("close");
            },
            actions: [{
                text: "关注该医生",
                className: "color-danger",
                onClick: function() {
                    $("#doctor-unfollow").hide();
                    $("#doctor-follow").show();
                    $.alert("已关注该医生");
                }
            }]
        });
    });
    $("#doctor-follow").click(function() {
        $.actions({
            title: "选择操作",
            onClose: function() {
                console.log("close");
            },
            actions: [{
                text: "取消关注",
                className: "color-danger",
                onClick: function() {
                    $("#doctor-unfollow").show();
                    $("#doctor-follow").hide();
                    $.alert("已取消关注");
                }
            }]
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#toggle-discuss").click(function() {
            $(".ybzy-discuss").slideToggle(function() {
                $("#toggle-discuss").toggleClass("active");
            });
        });
    });
    </script>



</body>

</html>
